html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:Trebuchet MS;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#alert-message {
	font-size: 25px;
	height: 20px;
	margin-top: 30px;
	text-align: center;
}

#board {
	position: relative;
}

#game-board {
	height: 571px;
	width: 496px;	
	background-color: #AAAAAA;
	border: 5px;
	border-style: solid;
	margin-top: 2.5%;
	margin-left: 5%;
}

#top-nav {
	height: 75px;
}

#top-nav li {
	height: 25px;
	width: 33%;
	float:left;
	font-size: 20px;
	list-style: none;
	text-align: center;
	position: relative;
}

.tile {
	background-color: #CCCCCC;
	border-width: 2px;
	border-style: outset;
	display: table;
	float: left;
}

.revealed {
	background-color: #DDDDDD;
}

.mine {
	background-image:url('../images/bomb1.png');
	background-size: 100% auto;
}

.hit-mine {
	background-color: #D94541;	
}

.face {
	height: 25px;
	background-image:url("../images/face-sprite.png");
	background-repeat:no-repeat;
	background-position: center 0px;
	overflow:hidden;
}
.face:active {
	background-position: center -25px;
}

.flagged {
	background-image:url('../images/red-flag.png');
	background-size: 100% auto;
}

.nav-button {
	cursor:pointer;
	color:#000000;
	display:inline-block;
	padding-top: 2%;
	text-decoration:none;
	text-shadow:0px 1px 7px #FFFFFF;
}

.nav-button:active {
	position:relative;
	top:1px;
}

.nav-flags-left {
	color:#000000;
	display:inline-block;
	padding-top: 2%;
}

.nearMines-0, 
.nearMines-1, 
.nearMines-2, 
.nearMines-3, 
.nearMines-4, 
.nearMines-5, 
.nearMines-6, 
.nearMines-7, 
.nearMines-8 {
	border-style: solid;
	border-color: #666666;
	font-size: 2em;
}

.nearMines-0 {
  color: #DDDDDD;
}

.nearMines-1 {
  color: blue;
}

.nearMines-2 {
  color: green;
}

.nearMines-3, .nearMines-4, .nearMines-5, .nearMines-6, .nearMines-7, .nearMines-8 {
  color: red;
}

.cell {
  display: table-cell;
  vertical-align:middle;
	text-align: center;
}

.row {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.fail {
	background-color: #D94541;
}

.success {
	background-color: #DFF0D8;
}